body {
	background-color: #212121;
}
.wrap {
	height: 100%;
	text-align: center;
	margin-top:180px;
}

.matrix {
	margin: 15px 30px;
	border-bottom: 1px solid #282828;
	border-right: 1px solid #282828;
	background-color: #151515;
	display: none;
}

.matrix div {
	float:left;
	width: 19px;
	height: 19px;
	border-top: 1px solid #282828;
	border-left: 1px solid#282828;
}

.food {
	background-color: red;
}

.snake {
	background-color: green;
}

.score {
	margin: 80px auto;
	font-size: 20pt;
	color: #eee;
}

.buttons-wrap {
	text-align: center;
}

.buttons-wrap ul {
	list-style-type: none;
	width: 18%;
	margin: 50px auto;
	padding: 0 0;
	font-size: 0;
}

.buttons-wrap li{
	background-color: #151515;
	padding: 25px 0;
	margin: 10px auto;
	font-size: 14pt;
	color: #E6E6E6;
	border: 1px solid #282828;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.buttons-wrap li:hover {
	cursor: pointer;
	background-color: #282828;
}

.settings {
	z-index: 9999;
	display: none;
	position: absolute;
	width: 60%;
	height: 70%;
	background-color: #151515;
	border: 1px solid #282828;
	top: 20%;
	left: 20%;
	color: #E6E6E6;
}

.close {
	float: right;
	margin: 20px 20px;
	padding: 10px 10px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.close:hover {
	cursor: pointer;
	color:red;
}

.form-wrapper {
	margin-top: 60px;
	padding: 40px 40px;
}

.main {
	font-size: 16pt;
}

.secondary {
	font-size: 15pt;
	padding-left: 20px;
}

p {
	line-height: 1.8;
}